@import '_variables';
@import '_mixins';
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700');

body{
	background-color: $color-dark;
	font-family: 'Cutive Mono', monospace !important;
	font-size: $base_font;
	cursor: $base_cursor, auto;
	overflow: auto;
	a:hover{
		cursor: $hand_cursor,auto;
	}

	p,span,div,li,a,code{
		font-family: 'Cutive Mono', monospace !important;
	}
	code{
		font-weight: 800;
	}
}

#transition_container{
	display: none;
	position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 9999;
}

#container{
	position: absolute !important;
	width: 100%;
	min-height: 100%;
	height: auto;
	&::before{
		pointer-events: none;
	}
}

#preloader_container{
	z-index: 9999;
	position: fixed !important;
	width: 100%;
	height: 100%;
	background-color: $color-dark;

	.preloader_items{
		color: $color-bright;
		@include center_cont;

	}
}

.mirror{
	z-index: -10;
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	mix-blend-mode: color-dodge;

	.mirror_side{
		flex: none;
		display: flex;
		overflow: hidden;
		width: 50%;
		flex-grow: 1;
		height: 100%;
	}

	.mirror_side_left{
		justify-content: flex-end;
		align-items: center;
		position: relative;
		.mirror_fragments{
			display: flex;

			.fragment_item{
				width: 10px;
				height: 10px;
				display: block;
				margin:20px;
				opacity: 0.1;
				background-color: $color-green;
				@include medium_screen{
					margin: 10px;
				}
				@include small_screen{
					margin: 15px;
				}
			}
		}
	}

	.mirror_side_right{
		@extend .mirror_side_left;
		transform: scale3d(-1,1,1);
	}

	.mirror_img{
		height: 35vw;
		opacity: 0.6;
		@include medium_screen{
			height: 40vw;
		}
		@include small_screen{
			height: 45vh;
			max-height: 70vw;
		}
	}
}

.type_title{
    z-index: -9;
	color: $color-bright;
	font-weight: 100;
	@include center_cont;
	font-size: 2em;
	.scramble{
		@include ana_glitch(1,$color-glitch-one,$color-glitch-two,1,1);
	}
	@include medium_screen{
		font-size: 1.5em;
		text-align: center;
	}
	@include small_screen{
		font-size: 1em;
		text-align: center;
	}
	.type-it{
		text-transform: uppercase;
		font-weight: 800;
		background-color: $color-green;
		color: $color-dark;
		padding-right: 5px;
		padding-left: 5px;
		@include medium_screen{
			display: block;
			min-width: 10px;
		}
	}
}

.main_menu{
	font-family: 'Roboto Mono', monospace;
	font-weight: 700;
	display: flex;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	color: $color-bright;

	.logo{
		@include center_vert;
		left: 20px;
		text-decoration: none;
		color: $color-bright;
		font-size: 1em;
		&::before{
			content: "";
			z-index: -1;
			width: 100px;
			height: 1em;
			display: inline-block;
			background-color: $color-glitch-one;
			position: absolute;
    		top: -5px;
    		left: 50%;
    		transform: rotate(-10deg) translateX(-50%);
		}
	}

	.burger_menu{
		position: absolute;
		top: 15px;
		right: 20px;
		text-decoration: none;
		color: $color-bright;
		font-size: 18px;
		@include small_screen{
			font-size: 1.5em;
		}
	}
}

.slideout_menu {
	position: fixed !important;
	z-index: 1000;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	transform: translateX(100%);
	transition-property: transform;
	transition-timing-function: ease-in-out;
	transition-duration: 0.4s;
	background-color: $color-dark;
	display: flex;
  	.burger_menu{
  		z-index: 99;
  		position: absolute;
  		top: 14px;
		right: 20px;
		text-decoration: none;
		color: $color-bright;
		font-size: 21px;
		@include small_screen{
			font-size: 2em;
		}
	}
	.slideout_menu_content{
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 85%;
		justify-content: center;
		align-items: center;
		padding: 0;
		color: $color-bright;
		list-style: none;

		li{
			font-weight: 400;
			font-size: 1.5em;
			position: relative;
			display: block;
			width: 100%;
			flex-grow: 1;
			max-height: 80px;
			min-height: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			a{
				line-height: 2em;
				position: absolute;
				color: $color-bright;
				text-decoration: none;
				@include ana_glitch(1,$color-glitch-one,$color-glitch-two,1,1);
			}

			@include medium_screen{
				max-height: 80px;
			}

			@include medium_screen{
				font-size: 1.2em;
				max-height: 50px;
			}
		}
	}

	.neon_trinagle{
		@include animation('glitch_triangle 3s linear infinite alternate');
		@include keyframes(glitch_triangle) {
			0% { opacity: 1; }
			5% { opacity: 0.8; }
			8% { opacity: 0.3; }
			10% {opacity: 0.8}
			15% {opacity: 1}
			25% { opacity: 0.5 }
			30% { opacity: 0.1 }
			32% { opacity: 0.3 }
			36% { opacity: 0.8 }
			40% { opacity: 0.5 }
			50% { opacity: 0.5 }
			60% { opacity: 1; }
			65% { opacity: 0.8; }
			68% { opacity: 0.3; }
			70% {opacity: 0.8}
			75% {opacity: 1}
			85% { opacity: 0.5 }
			90% { opacity: 0.1 }
			92% { opacity: 0.3 }
			96% { opacity: 0.8 }
			98% { opacity: 0.5 }
			100% { opacity: 0.5 }
		}
		@include center_cont;
		.triangle_dash,
		.triangle_line {
		  	position: absolute;
		  	background: $color-green;
		  	@include medium_screen{
				display: none;
			}
		}

		.triangle_dash_2 {
			width: 5px;
			height: 40px;
			top: -15px;
			left: 25px;
			transform: skew(30deg);
		}

		.triangle_dash_1 {
			width: 30px;
			height: 4px;
			right: 5px;
			top: 30px;
		}

		.triangle_line {
			width: 1px;
			height: 120px;
			@include medium_screen{
				max-height: 120px;
				height: 30%;

			}
		}

		.triangle_line_2 {
			bottom: -9%;
			left:53%;
			transform: rotate(-30deg);
		}

		.triangle_line_1 {
			bottom: -9%;
			left: 47%;
			transform: rotate(30deg);
		}

		svg{
			width: 588px;
			height: 552px;
			position: relative;
			@include medium_screen{
				width: auto;
				max-width: 90vw;
				height: 80vh;
			}
		}
	}
}

.slideout_menu.menu_visible {
  transform: translateX(0);
}

.side_label_left {
	position: fixed;
	color: $color-bright;
	height: 100%;
    top: 0;
    left: 15px;
    letter-spacing: 1em;
	p{
		position: absolute;
		top: 50%;
		transform: rotate(-90deg) translateX(-50%);
		transform-origin: left top;
	}
	@include medium_screen{
		font-size: 1em;
	}
	@include small_screen{
		display: none;
	}
}

.side_label_right {
	position: fixed;
	color: $color-bright;
	height: 100%;
    top: 0;
    right: 15px;
    letter-spacing: 1em;
	p{
		position: absolute;
	    top: 50%;
	    transform: rotate(270deg) scale(-1) translateX(-50%);
	    transform-origin: left top;
	}
	@include medium_screen{
		font-size: 1em;
	}
	@include small_screen{
		display: none;
	}
}

/* ABOUT ME PAGE */
section[data-page="about"] .main_menu{
	@include small_screen{
		background-color: $color-dark;
		z-index: 999;
	}
}

.aboutme{
	position: relative;
	width: 100%;
	// margin-top: 50px;
	height: 100%;
	min-height: 100vh;
	left: 0;
	z-index: -10;
	display: flex;
	justify-content: center;
	align-items: center;

	.about_info{
		line-height: 1.5em;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		height: auto;
		padding-left: 50px;
		padding-right: 50px;
		width: 60%;
		.type_aboutme{
			position: relative;
			align-self: center;
			z-index: -9;
			color: $color-bright;
			font-size: 2em;
			font-weight: 800;
			text-transform: uppercase;
			text-align: center;
			// margin-bottom: 80px;
			.scramble{
				@include ana_glitch(1,$color-glitch-one,$color-glitch-two,1,1);
			}
			@include medium_screen{
				margin-bottom: 50px;
				font-size: 1.5em;
			}
			@include small_screen{
				font-size: 1em;
			}

		}
		.type_info{
			color: $color-bright;
			code{
				background-color: $color-green;
				padding: 1px 5px;
				color: $color-dark;
				margin-bottom: 10px;
			}
			.purple{
				background-color: $color-glitch-one;
				color: $color-bright;
			}
		}

		@include small_screen{
			padding-left: 0;
			padding-right: 0;
			width: 80%;
		}
	}
	.about_image{
		height: auto;
		width: 40%;
		display: flex;
		justify-content: center;
		align-items: center;
		mix-blend-mode: color-dodge;
		background: transparent;
		flex: none;
		img{
			height: 35vw;
			opacity: 0.6;
			@include medium_screen{
				height: 40vw;
			}
			@include small_screen{
				height: 45vh;
				max-height: 70vw;
			}
		}
		@include small_screen{
			padding-top: 50px;
		}
	}
	@include medium_screen{
		flex-direction: column-reverse;
		padding-bottom: 100px;
	}
}

footer{
	height: 50px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	background:transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	.social_icons{
		display: flex;
	    justify-content: center;
	    align-items: center;
	    .share_icn{
	    	width: auto;
		    padding-right: 20px;
	    }
	    .fb_btn{
	    	height: 29px;
	    }
	}
	a{
		color: $color-bright;
		padding-left: 5px;
		padding-right: 5px;
	}
}

/* WORK AND PORTFOLIO PAGES */
section[data-page="work"] .main_menu{
	@include small_screen{
		background-color: $color-dark;
		z-index: 999;
	}
}

section[data-page="portfolio"] .main_menu{
	@include small_screen{
		background-color: $color-dark;
		z-index: 999;
	}
}

.work{
	width: 100%;
	margin-top: 50px;
	height: auto;
	left: 0;
	z-index: -10;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1.5em;
	.work_items{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: auto;
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 50px;
		width: 80%;
		.type_work{
			position: relative;
			align-self: center;
			z-index: -9;
			color: $color-bright;
			font-size: 2em;
			font-weight: 800;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 50px;
			margin-top: 50px;
			.scramble{
				@include ana_glitch(1,$color-glitch-one,$color-glitch-two,1,1);
			}
			@include medium_screen{
				margin-bottom: 50px;
				font-size: 1.5em;
			}
			@include small_screen{
				font-size: 1em;
			}
		}

		.work_item_box{
			width: 90%;
			max-width: 550px;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			color: white;
			flex-direction: column;
			margin-bottom: 5em;
			border-bottom: 1px solid $color-green;
			.item_title{
				-webkit-margin-before: 1em;
   				-webkit-margin-after: 0em;
				color: $color-bright;
				code{
					background-color: $color-green;
					padding: 1px 5px;
					color: $color-dark;
				}
				padding-bottom: 1em;
				width: 100%;
			}

			.item_tech{
				text-align: right;
				width: 100%;
				border-top: 1px solid $color-green;
				padding-top: 1em;
				code {
					margin-left: 15px;
				}
				code:nth-child(even){
					flex: none;
					background-color: $color-glitch-one;
					padding: 0px 5px;
					font-size: 1em;
					display: inline-block;
					margin-bottom: 1em;
				}
				code:nth-child(odd){
					word-break: keep-all;
					flex: none;
					background-color: $color-green;
					color: $color-dark;
					padding: 0px 5px;
					font-size: 1em;
					display: inline-block;
					margin-bottom: 1em;
				}
			}

			.item_desc{
				padding-bottom: 1em;
				border-bottom: 1px solid $color-green;
				border-top: 1px solid $color-green;
				padding-top: 1em;
				code{
					background-color: $color-green;
					padding: 1px 5px;
					color: $color-dark;
					a{
						color: $color-dark;
						text-decoration: none;
						font-weight: 800;
					}
				}
				.purple{
					background-color: $color-glitch-one !important;
					color: $color-bright;
				}
			}

			.item_btns{
				align-self: flex-end;
				margin-top: 1em;
				display: flex;
				justify-content: flex-end;
				flex-wrap: wrap;
				.btn{
					background-color: $color-glitch-one;
					margin-left: 1em;
					height: 25px;
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 1em;
					a{
						padding: 5px;
						color: $color-bright;
						text-decoration: none;
					}
				}
			}

		}

		@include small_screen{
			padding-left: 0;
			padding-right: 0;
		}

	}
}

.hidden{
	display: none;
}

/* Contact Page */

/* ABOUT ME PAGE */
section[data-page="contact"] .main_menu{
	z-index: 99;
	@include small_screen{
		background-color: $color-dark;
		z-index: 999;
	}
}

.contact{
	position: relative;
	width: 100%;
	// margin-top: 50px;
	height: 100%;
	min-height: 100vh;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.contact_info{
		line-height: 1.5em;
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		padding-left: 50px;
		padding-right: 50px;
		width: 100%;
		.type_contact{
			position: relative;
			align-self: center;
			z-index: -9;
			color: $color-bright;
			font-size: 2em;
			font-weight: 800;
			text-transform: uppercase;
			text-align: center;
			margin-bottom: 80px;
			.scramble{
				@include ana_glitch(1,$color-glitch-one,$color-glitch-two,1,1);
			}
			@include medium_screen{
				margin-bottom: 50px;
				font-size: 1.5em;
			}
			@include small_screen{
				font-size: 1em;
			}

		}
		.type_contact_info{
			color: $color-bright;
			padding-bottom: 40px;
			margin-bottom: 30px;
			code{
				background-color: $color-green;
				padding: 1px 5px;
				color: $color-dark;
				margin-bottom: 10px;
				a{
					text-decoration: none;
					color: $color-dark;
					font-weight: 800;
				}
			}
			.purple{
				background-color: $color-glitch-one;
				color: $color-bright;
				a{
					text-decoration: none;
					color: inherit;
					font-weight: 800;
				}
			}
			.footnote{
				border-top: 1px solid $color-green;
				margin-top: 20px;
				padding-top: 20px;
				text-align: right;
				display: block;
			}
		}
		@include small_screen{
			padding-left: 0;
			padding-right: 0;
			width: 80%;
		}
	}
	@include medium_screen{
		flex-direction: column-reverse;
		padding-top: 50px;
	}
}

.csswinner_overlay{
	position: fixed;
	bottom: 50px;
	left: 0;
	z-index: 800;
	@include medium_screen{
		img{
			height: 80px;
		}
	}
}
